body
{
	font-family: Tahoma;
	white-space: nowrap;
}
table
{
	width: 100%;
	text-align: center;
}
caption
{
	bold;
}
th
{
	background-color: #070B3B;
	color: whitesmoke;
	text-align: left;
}
img
{
	width: 250px;
	height: 250px;
}
#container
{	
	border: 1px solid #070B3B;
	background-color: whitesmoke;
	padding: 5px 5px 5px 5px;	
}
#albumCover
{	
	background-image: url("http://www.feelnumb.com/wp-content/uploads/2011/02/led_zeppelin_-_led_zeppelin_II-front.jpg");
	background-repeat: repeat;
	height: 700px;
	width: 700px;
}
li
{
	font-style: italic;
}
#AlbumTrackTable
{
	font-style: italic;
	background-color: #A1D490;
	text-align: left;
}